# !! Use this as a guide as to what environment variables are needed -- you should not add environment variables to this file !!

MONGODB_URI=""
THIRD_PARTY_SECRET_KEY=""
INTEGRATION_TEST_MODE=""
NEXTAUTH_SECRET=""
NEXT_PUBLIC_SOLANA_RPC_PROVIDER=""